.login-form {
    color: #109E92;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 135px;
    gap: 13px;
}
.login-opt {
    color: #109E92;
    height: 103px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login-opt  a{
    color: #109E92;
}
